<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Swipe Questionnarie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="topSpace"></div>

  <ion-card *ngFor="let question of questions; let index=index"
  [style.z-index]="questions.length-index" 
  [style.transform]="'scale(' + (20 - index) / 20 + ') translateY(-' + 20 * index + 'px)'"
  [style.opacity]="(10 - index) / 10"
  >
    <ion-card-header>
      <div class="progress">

      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="inner-wrap">
        <p>
          Question {{question.id}} of {{questions.length}}
        </p>
        
        <h2>
          {{question.question}}
        </h2>
       

      </div>

    </ion-card-content>

  </ion-card>

</ion-content>